.main {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

body {
    background-color: #dddddd;
}

.input {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

.clock-bnt {
    display: flex;
    justify-content: space-between;
}

.clock {
    display: flex;
    justify-content: center;
}

.reg-btn {
    background-color: #0ae32a;
    border-radius: 8px;
    border-style: none;
    margin: 10px;
    height: 30px;
    width: 192px;
    cursor: pointer;
}

.login-btn {
    background-color: #0ae32a;
    border-radius: 8px;
    border-style: none;
    margin: 10px;
    height: 30px;
    width: 192px;
    cursor: pointer;
}

.stop-btn {
    cursor: pointer;
    height: 30px;
    width: 120px;
    margin: 10px;
    color: #fffef7;
    background-color: #bfbfbf;
    opacity: 0.75;
    border-radius: 4px;
    border-style: none;
}

.start-btn {
    cursor: pointer;
    height: 30px;
    width: 120px;
    margin: 10px;
    color: #fffef7;
    background-color: #bfbfbf;
    opacity: 0.75;
    border-radius: 4px;
    border-style: none;
}



.module {
    background-color: #ffffff;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
}

.notification-module {
    background-color: #5c93fa;
    opacity: 70%;

}

.reg-btn:hover {
    transform: translateY(-1px);
}

.reg-btn:active {
    background-color: #6606c8;
    color: #dedede;
    border-style: none;
}

.login-btn:hover {
    transform: translateY(-1px);
}

.login-btn:active {
    background-color: #6606c8;
    color: #dedede;
    border-style: none;
}

.stop-btn.enable {
    color: #fffef7;
    background-color: #ff3e3e;
}

.start-btn.enable {
    color: #fffef7;
    background-color: #ff3e3e;
}

.stop-btn.enable:hover {
    transform: translateY(-1px);
}

.stop-btn.enable:active {
    background-color: #ffaeae;
    color: #001580;
    border-style: none;
}

.start-btn.enable:hover {
    transform: translateY(-1px);
}

.start-btn.enable:active {
    background-color: #ffaeae;
    color: #001580;
    border-style: none;
}

.clock {
    font-size: 28px;
    color: #bfbfbf;
}

.clock.enable {
    color: #000000;
}

.notification-module.unable {

    display: none;
}

.name-login.disable {
    display: none;
}

.pass-login.disable {
    display: none;
}

.login-btn.disable {
    display: none;
}

.exit-btn.disable {
    display: none;
}

.exit-btn {
    cursor: pointer;
    height: 30px;
    width: 200px;
    margin: 10px;
    color: #fffef7;
    background-color: #ff3d3d;
    opacity: 0.75;
    border-radius: 4px;
    border-style: none;
}